---
layout: base.njk
---

<h1 class="card shadow mt-3 mx-auto text-center" style="width: 18rem;" >Meeps</h1>
{% for tweet in github.meeps %}
                <div class="card shadow mt-3 mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ tweet.body }}</h5>
                        <p class="card-text">{{ tweet.body }}</p>
                        <footer class="blockquote-footer">
                            <cite title="date">{{ tweet.created_at }}</cite>
                        </footer>
                    </div>
                </div>
            {% endfor %}<div id="repos">
    <button>fetch</button>
</div>
<div class="spinner-border d-none" role="status">
    <span class="visually-hidden">Loading</span>
</div>

<script>
    const button = document.querySelector('#repos > button');
    const spinner = document.querySelector('#repos > .spinner-border');
    button.addEventListener('click', (e) => {
  //      spinner.classList.toggle('d-none');
        fetch('https://api.github.com/users/aberg2/repos')
        .then(response => response.json())
        .then(data => {
                console.log(data)
    //        spinner.classList.toggle('d-none');
            const repos = document.querySelector('#repos');
            data.forEach(repo => {
                const p = document.createElement('p');
                p.textContent = repo.name;
                repos.appendChild(p);
            });
        });
    });
</script>